<span class="container">
   <ng-container [ngSwitch]="UIControl">

      <ng-container *ngSwitchCase="UIControlEnum.TOGGLE">
         <rvn-toggle [params]="params" [formControl]="fc"></rvn-toggle>
      </ng-container>

      <ng-container *ngSwitchCase="UIControlEnum.RADIO">
         <rvn-radio [params]="params" [formControl]="fc"></rvn-radio>
      </ng-container>

      <ng-container *ngSwitchCase="UIControlEnum.SELECT">
         <rvn-select [params]="params" [formControl]="fc"></rvn-select>
      </ng-container>

   </ng-container>
</span>