@import "../../../@shared/rvn-core/styles/variables/spacing";

.container {
    display: grid;
    column-gap: $space-xl;
    grid-template: auto 1fr / 1fr 1fr;
    grid-template-areas:
        "definition button"
        "definition preview";

    .definition {
        grid-area: definition;
    }

    .button {
        grid-area: button;
        padding-bottom: $space-xs;
        margin-left: auto;

        position: sticky;
        //TODO: fix hardcoding.
        top: 120px;
    }

    .preview {
        grid-area: preview;
        ::ng-deep {
            .container {
                .card {
                    position: sticky;
                    //TODO: fix hardcoding.
                    top: 175px;
                }
            }
        }
    }
}
