<div class="container" *ngIf="mode && initDone">
    <div class="definition">
        <form-definition content [mode]="mode" [form]="formDefinition" [markFGAsDirtySubject$]="markFormDefinitionFGAsDirty$"
            (formDefinitionUpdate)="onFormDeifitionUpdate($event)"></form-definition>
    </div>
    <div class="button">
        <rvn-button (onClick)="saveForm()" [config]="submitButtonConfig">
            Save Form
        </rvn-button>
    </div>
    <div class="preview">
        <rvn-card [config]="{title: 'Form Preview'}">
            <form-renderer content *ngIf="formDefinition" [formDefinition]="formDefinition"></form-renderer>
        </rvn-card>
    </div>
</div>