@import "../../../@shared/styles/variables/spacing";

.container {
    display: grid;
    gap: $space-xl;
    grid-template: 
    "definition preview";

    .definition{
        grid-area: definition;
    }

    .preview{
        grid-area: preview;
    }
}
