@import "../../../../../node_modules/@abdulraheemabid/rvn-pkg-ng-core/styles/variables/spacing";

.container {
    display: grid;
    gap: $space-xl;
    align-items: start;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
        "search button button"
        "list list tree";

    &.no-tree {
        grid-template-areas:
            "search button button"
            "list list list";
    }

    .search {
        grid-area: search;
        align-self: center;
    }

    .button {
        grid-area: button;
        margin-left: auto;
        align-self: center;
    }

    .list {
        grid-area: list;

        &.no-records {
            display: flex;
            justify-content: center;
        }
    }

    .tree {
        grid-area: tree;
        overflow: auto;
    }
}
