.container {
    display: flex;
    flex-direction: column;

    .sub-container {
        padding: 40px;
        max-width: 600px;
        margin: auto;

        .form-field-container {
            max-width: 300px;
        }
    }
}
