@import "../../../rvn-core/styles/variables/spacing";

.container {
    display: grid;
    gap: $space-xl;
    
    .record,
    .fields {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(max-content, 25%));
        grid-template-areas:
            "h h h h "
            "c c c c ";

        .heading {
            grid-area: h;
        }

        .field {
            display: flex;
            align-items: center;
            margin-right: $space-s;
        }

        .title {
            padding-right: $space-s;
        }
    }
}
