<div class="container" *ngIf="initDone">

    <rvn-button class="button" (click)="submit()" [config]="{ type: 'icon-text-primary', icon: 'save', color: 'primary' }">Submit Record</rvn-button>

    <rvn-card class="card" [config]="{'title': form.name}">

        <form-renderer content class="form" [mode]="mode" *ngIf="initDone" [record]="record"
            [formDefinition]="form" [markFGAsDirtySubject$]="markRecordFGAsDirty$" (recordUpdate)="onRecordUpdate($event)">
        </form-renderer>

    </rvn-card>


</div>