<div class="container" *ngIf="initDone">

    <div class="attributes">
        <div class="heading">
            <h2>Attributes</h2>
            <rvn-divider></rvn-divider>
        </div>
        <rvn-input class="form-name" [params]="formNameCompParam" [formControl]="formNameCtrl"></rvn-input>
    </div>

    <div class="fields">
        <div class="heading">
            <div class="flex">
                <h2>Fields</h2>
                <rvn-button (click)="addField()" class="add-field-btn" [params]="fieldAddCompParam">Add</rvn-button>
            </div>
            <rvn-divider></rvn-divider>
        </div>

        <div class="field"
            *ngFor="let field of fieldGroups.controls; let i = index; let last = last; let first = first">
            <div class="heading flex">
                <h3>Field {{i+1}}</h3>
                <rvn-button (click)="deleteField(i)" [params]="deleteFieldCompParam" [disabled]="first && last">
                </rvn-button>
            </div>
            <field-definition [fieldFG]="field"></field-definition>
            <rvn-divider class="divider" [params]="{inset: true}" *ngIf="!last"></rvn-divider>
        </div>
    </div>

</div>