<span class="container mat-form-field-infix" [ngClass]="params?.styleVersion">

    <ng-container *ngIf="params?.styleVersion == 'v1'">
        <span class="label" *ngIf="params?.label">{{params?.label}}:</span>
        <mat-slide-toggle [formControl]="formControl" [required]="params?.required"></mat-slide-toggle>
    </ng-container>

    <ng-container *ngIf="params?.styleVersion == 'v2'">
        <mat-slide-toggle [formControl]="formControl" [required]="params?.required">{{params?.label}}</mat-slide-toggle>
    </ng-container>

</span>