<rvn-spinner *ngIf="showLoader | async" [config]="{fullHeight: true}"></rvn-spinner>

<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <span class="sidenav-content">

            <mat-toolbar>
                <h1> Project Raven</h1>
            </mat-toolbar>
            <rvn-divider class="main-divider"></rvn-divider>

            <mat-nav-list>
                <a mat-list-item [routerLink]="['/demo']">Demo</a>
                <a mat-list-item [routerLink]="['/forms']">Forms</a>
                <rvn-divider class="links-divider"></rvn-divider>
                <ng-container *ngFor="let form of formLinks$ | async">
                    <a mat-list-item [routerLink]="[form.navigateToRoute]">{{form.displayName}}</a>
                    <rvn-divider class="links-divider" *ngIf="form.showDivider"></rvn-divider>
                </ng-container>
            </mat-nav-list>

            <div class="spacer"></div>

            
            <rvn-divider></rvn-divider>
            <mat-toolbar class="settings">
                <span>Settings</span>
                <rvn-menu>
                    <rvn-button button [config]="{type: 'icon', icon:'settings'}"></rvn-button>
                    <ng-container content>
                        <div class="rvn-menu-items menu-items color-foreground">
                            <rvn-toggle (click)="$event.stopPropagation()" [config]="{label: 'Dark Mode'}"
                                [formControl]="isDarkModeFC" class="dark-toggle">
                            </rvn-toggle>
                            <rvn-select (click)="$event.stopPropagation()" [config]="fieldAppearanceConfig"
                                [formControl]="fieldAppearanceFC"></rvn-select>
                        </div>
                    </ng-container>
                </rvn-menu>
            </mat-toolbar>
        </span>


    </mat-sidenav>


    <mat-sidenav-content>
        <mat-toolbar class="top-bar" color="primary">
            <span class="top-bar-content">
                <span class="page-heading">
                    <rvn-button class="toggle-btn" (onClick)="drawer.toggle()"
                        [config]="{'icon': 'menu', type: 'icon'}">
                    </rvn-button>

                    <h1>{{toolBarHeading}}</h1>
                </span>


            </span>
        </mat-toolbar>


        <div class="app-container">
            <span class="outlet">
                <router-outlet></router-outlet>
            </span>
        </div>


    </mat-sidenav-content>


</mat-sidenav-container>