@import "../../node_modules/@abdulraheemabid/rvn-pkg-ng-core/styles/variables/spacing";

.sidenav-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .main-divider {
        margin-bottom: $space-l;
        display: block;
    }
    .form-links {
        overflow: auto;
        height: 100px;
    }

    .spacer {
        flex: 1 1 0;
    }

    .settings {
        display: flex;
        padding: 0 $space-m;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

.menu-items {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.rvn-menu-items {
    ::ng-deep {
        .rvn-ui-control {
            min-height: auto;
        }
    }
}
