@import "./@shared/styles/variables";

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav {
    background: inherit;
}

.app-container {
    height: 90vh;
    padding: 5vh;
    .outlet {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        height: 100%;
        grid-template-rows: 0fr 1fr;
    }
}
