@import "./@shared/styles/variables/spacing";

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar,
.sidenav {
    background: inherit;
}

.menu-items{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.top-bar {
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 0 5vh;

   

    .top-bar-content {
        display: flex;
        max-width: 1600px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        .toggle-btn {
            margin-left: -8px;
        }

        .page-heading {
            display: flex;
            align-items: center;
        }
    }
}

.app-container {
    // height: 90vh;
    padding: 5vh;
    max-width: 1600px;
    margin: auto;
    .outlet {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        height: 100%;
        grid-template-rows: 0fr 1fr;
    }
}
