<rvn-spinner *ngIf="showLoader | async" [config]="{fullHeight: true}"></rvn-spinner>

<rvn-sidenav class="sidenav-container" [config]='{toggleSidenav$: toggleSidenav$}'>

    <div sidenav class="sidenav-content">

        <rvn-toolbar>
            <h1 content> Project Raven</h1>
        </rvn-toolbar>

        <rvn-divider class="main-divider"></rvn-divider>

        <rvn-nav-list [config]="{list: sideBarLinks}"></rvn-nav-list>

        <div class="spacer"></div>

        <rvn-divider></rvn-divider>

        <rvn-toolbar>
            <span content class="settings">
                <span>Settings</span>
                <rvn-menu>
                    <rvn-button button [config]="{type: 'icon', icon:'settings'}"></rvn-button>
                    <div content class="rvn-menu-items menu-items color-foreground">
                        <rvn-toggle (click)="$event.stopPropagation()" [config]="{label: 'Dark Mode'}"
                            [formControl]="isDarkModeFC" class="dark-toggle">
                        </rvn-toggle>
                        <rvn-select (click)="$event.stopPropagation()" [config]="fieldAppearanceConfig"
                            [formControl]="fieldAppearanceFC"></rvn-select>
                    </div>
                </rvn-menu>
            </span>

        </rvn-toolbar>
    </div>

    <div sidenavContent>

        <rvn-toolbar [config]="{styleClass:'main-toolbar', color: 'primary'}">
            <span content class="content">
                <rvn-button class="toggle-btn" (onClick)="toggleSidenav()" [config]="{'icon': 'menu', type: 'icon'}">
                </rvn-button>
                <h1>{{toolBarHeading}}</h1>
            </span>
        </rvn-toolbar>

        <div class="route-container">
            <span class="outlet">
                <router-outlet></router-outlet>
            </span>
        </div>

    </div>

</rvn-sidenav>