@import "../../../../../node_modules/@abdulraheemabid/rvn-pkg-ng-core/styles/variables/spacing";

.container {
    display: grid;
    gap: $space-xl;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "search button"
        "list list";

    .search {
        grid-area: search;
    }

    .button {
        grid-area: button;
        margin-left: auto;
    }

    .list {
        grid-area: list;

        &.no-records {
            display: flex;
            justify-content: center;
        }
    }
}
