<div class="container">

    <div class="record" *ngIf="initDone">
        <h1 class="heading">Record Details</h1>
        <p><span class="title text-bold">ID:</span> {{record.id}}</p>
        <p><span class="title text-bold">Created On:</span> {{record.createdOn | date:'medium'}}</p>
        <p><span class="title text-bold">Last Updated:</span> {{record.updatedOn | date:'medium'}}</p>
    </div>

    <div class="fields">
        <h1 class="heading">Entry </h1>
        <p class="field" *ngFor="let field of form.fields">
            <span class="title text-bold">{{field.name}}:</span>
            <ng-template #valueRendererAnchor></ng-template>
        </p>
    </div>

</div>