<span class="container mat-form-field-infix" [ngClass]="params?.styleVersion">

    <ng-container *ngIf="params?.styleVersion == 'v1'">
        <span class="label">{{params?.label}}:</span>
        <mat-radio-group [ngClass]="{'invalid': formControl.hasError('required')}" class="radio-group"
            [name]="params?.label" [formControl]="formControl" [required]="params?.required">
            <mat-radio-button class="radio-btn" *ngFor="let option of params?.radioOptions" [value]="option">
                {{option.value}}
            </mat-radio-button>
        </mat-radio-group>
    </ng-container>


    <ng-container *ngIf="params?.styleVersion == 'v2'">
        <span class="label">{{params?.label}}</span>
        <mat-radio-group class="radio-group" [name]="params?.label" [formControl]="formControl"
            [required]="params?.required">
            <mat-radio-button class="radio-btn" *ngFor="let option of params?.radioOptions" [value]="option">
                {{option.value}}
            </mat-radio-button>
        </mat-radio-group>
    </ng-container>

    <ng-container *ngIf="params?.styleVersion == 'v3'">
        <span class="label">{{params?.label}}</span>
        <mat-radio-group class="radio-group" [name]="params?.label" [formControl]="formControl"
            [required]="params?.required">
            <mat-radio-button class="radio-btn" *ngFor="let option of params?.radioOptions" [value]="option">
                {{option.value}}
            </mat-radio-button>
        </mat-radio-group>
    </ng-container>

</span>