<span class="container" [ngClass]="params?.styleVersion">

    <ng-container *ngIf="params?.styleVersion == 'v1'">
        <label class="label">{{params?.label}}:</label>
        <mat-radio-group class="radio-group" [formControl]="formControl">
            <mat-radio-button class="radio-btn" *ngFor="let option of params?.radioOptions" [value]="option">
                {{option.value}}
            </mat-radio-button>
        </mat-radio-group>
    </ng-container>


    <ng-container *ngIf="params?.styleVersion == 'v2'">
        <label class="label">{{params?.label}}</label>
        <mat-radio-group class="radio-group" [formControl]="formControl">
            <mat-radio-button class="radio-btn" *ngFor="let option of params?.radioOptions" [value]="option">
                {{option.value}}
            </mat-radio-button>
        </mat-radio-group>
    </ng-container>

    <ng-container *ngIf="params?.styleVersion == 'v3'">
        <label class="label">{{params?.label}}</label>
        <mat-radio-group class="radio-group" [formControl]="formControl">
            <mat-radio-button class="radio-btn" *ngFor="let option of params?.radioOptions" [value]="option">
                {{option.value}}
            </mat-radio-button>
        </mat-radio-group>
    </ng-container>
</span>