<div class="container" *ngIf="initDone">

    <!-- filter -->
    <rvn-input class="filter" *ngIf="config.enableFilter && config.useComponentFilter"
        [config]="{suffixIcon: 'search', label:'Filter', styleVersion: 'v2'}" [formControl]="config.filterInputFC">
    </rvn-input>

    <table mat-table fixedLayout="true" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8"
        matSort>

        <!-- colum def -->
        <ng-container *ngFor="let column of columnsToDisplayNames; let i = index" matColumnDef="{{column}}"
            [sticky]="config.stickColumnsAtStartIndexes.includes(i)"
            [stickyEnd]="config.stickColumnsAtEndIndexes.includes(i)">

            <!-- header template -->
            <th mat-header-cell *matHeaderCellDef mat-sort-header [class]="getJustifyContentClassByTextAlign(i)">
                {{getColumDisplayName(column)}} </th>

            <!-- custom column template -->
            <ng-container *ngIf="config.columnsToDisplay[i].customTemplate">
                <td mat-cell *matCellDef="let row" [style.text-align]="config.columnsToDisplay[i].textAlign">
                    <ng-template *ngTemplateOutlet="config.columnsToDisplay[i].customTemplate; context: {row:row}">
                    </ng-template>
                </td>
            </ng-container>

            <!-- normal column text -->
            <ng-container *ngIf="!config.columnsToDisplay[i].customTemplate">
                <td mat-cell *matCellDef="let row" [style.text-align]="config.columnsToDisplay[i].textAlign">
                    {{row[column]}} </td>
            </ng-container>


        </ng-container>


        <!-- expanded row template -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [attr.colspan]="columnsToDisplayNames.length">
                <div class="row-detail" [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
                    <div class="inner">
                        <ng-container *ngTemplateOutlet="config.templateToShowOnRowExpand; context: {row: row}">
                        </ng-container>
                    </div>
                </div>
            </td>
        </ng-container>


        <!-- header row -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayNames; sticky: true"></tr>


        <!-- data row -->
        <tr mat-row *matRowDef="let row; columns: columnsToDisplayNames;" class="row" (mouseover)="row.hover = true"
            (mouseout)="row.hover = false"
            [class.accent-bg]="config.templateToShowOnRowExpand && (row.hover == true || expandedRow === row)"
            [class.expanded-row]="expandedRow === row" [class.pointer]="config.templateToShowOnRowExpand"
            (click)="config.templateToShowOnRowExpand && expandedRow = expandedRow === row ? null : row">
        </tr>


        <!-- expanded row -->
        <ng-container *ngIf="config.templateToShowOnRowExpand">
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </ng-container>


        <!-- no data message on filter -->
        <ng-container
            *ngIf="config.enableFilter && (config.filterInputFC.value !== null && config.filterInputFC.value.trim() !== '')">
            <div class="no-data color-warn" *matNoDataRow>
                {{config.noDataOnFilterMessage}}
            </div>
        </ng-container>


        <!-- no data message -->
        <div class="no-data color-warn" *matNoDataRow>
            {{config.noDataMessage}}
        </div>


    </table>


    <!-- paginator -->
    <mat-paginator class="paginator" *ngIf="config.enablePagination" [pageSizeOptions]="config.pageOptions"
        showFirstLastButtons>
    </mat-paginator>
</div>