@import "../../styles/variables/spacing";
@import '../../styles/variables/width';

.container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    // setting these because applying mat-form-field-infix to container so that it takes same height
    // as other material fields. But making these propeties as initial because mat-form-field-infix overides them
    position: initial;
    flex: initial;
    width: initial;

    .radio-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &.v1 {
        .radio-group {
            width: $form-field-width;
        }
        .radio-btn {
            padding-right: $space-s;
        }
    }

    &.v2 {
        align-items: normal;
        .radio-group {
            flex-direction: column;
        }
        .radio-btn {
            padding: $space-s 0px;
        }
    }

    &.v3 {
        .radio-group {
            flex-direction: column;
        }
        .radio-btn {
            padding: $space-s 0px;
        }
    }
}
