<ng-container [ngSwitch]="params.type">

    <ng-container *ngSwitchCase="'primary'">
        <button (click)="click($event)" mat-raised-button class="btn" [color]="params.color"
            [disabled]="disabled">{{params?.label}}</button>
    </ng-container>

    <ng-container *ngSwitchCase="'secondary'">
        <button (click)="click($event)" mat-stroked-button class="btn" [color]="params.color"
            [disabled]="disabled">{{params?.label}}</button>
    </ng-container>

    <ng-container *ngSwitchCase="'tertiary'">
        <button (click)="click($event)" mat-button class="btn" [color]="params.color"
            [disabled]="disabled">{{params?.label}}</button>
    </ng-container>

    <ng-container *ngSwitchCase="'icon'">
        <button (click)="click($event)" mat-icon-button class="btn" [color]="params.color" [disabled]="disabled">
            <mat-icon>{{params?.icon}}</mat-icon>
        </button>
    </ng-container>

    <ng-container *ngSwitchCase="'icon-text-primary'">
        <button (click)="click($event)" mat-raised-button class="btn icon-text" [color]="params.color"
            [disabled]="disabled">
            <mat-icon>{{params?.icon}}</mat-icon>
            <span>{{params?.label}}</span>
        </button>
    </ng-container>

    <ng-container *ngSwitchCase="'icon-text-secondary'">
        <button (click)="click($event)" mat-stroked-button class="btn icon-text" [color]="params.color"
            [disabled]="disabled">
            <mat-icon>{{params?.icon}}</mat-icon>
            <span>{{params?.label}}</span>
        </button>
    </ng-container>

    <ng-container *ngSwitchCase="'fab'">
        <button (click)="click($event)" mat-fab class="btn fab" [color]="params.color" [disabled]="disabled">
            <mat-icon>{{params?.icon}}</mat-icon>
        </button>
    </ng-container>

    <ng-container *ngSwitchCase="'mini-fab'">
        <button (click)="click($event)" mat-mini-fab class="btn fab" [color]="params.color" [disabled]="disabled">
            <mat-icon>{{params?.icon}}</mat-icon>
        </button>
    </ng-container>

</ng-container>